[submodule "ref/serena"]
	path = ref/serena
	url = https://github.com/oraios/serena
[submodule "ref/mcp-server-plugin"]
	path = ref/mcp-server-plugin
	url = https://github.com/JetBrains/mcp-server-plugin
[submodule "ref/opencode"]
	path = ref/opencode
	url = https://github.com/sst/opencode.git
[submodule "ref/multispy"]
	path = ref/multispy
	url = https://github.com/microsoft/multilspy.git
[submodule "ref/oh-my-opencode"]
	path = ref/oh-my-opencode
	url = https://github.com/code-yeongyu/oh-my-opencode
[submodule "ref/docs-please"]
	path = ref/docs-please
	url = https://github.com/pleaseai/docs.git
[submodule "ref/context-engineering-kit"]
	path = ref/context-engineering-kit
	url = https://github.com/NeoLabHQ/context-engineering-kit
